.keyword-arithmetic-and-logic, .keyword-shift-and-rotate, .keyword-move, .keyword-branch, .keyword-special{
    -fx-font-weight: bold;
}

.keyword-arithmetic-and-logic {
    -fx-fill: purple;
}

.keyword-shift-and-rotate {
    -fx-fill: #80632a;
}

.keyword-move {
    -fx-fill: #348038;
}

.keyword-branch {
    -fx-fill: #144e80;
}

.keyword-special {
    -fx-fill: #638000;
}

.label {
    -fx-fill: #804000;
    -fx-font-weight: bold;
}
.comment {
    -fx-fill: cadetblue;
}

/*
.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}
*/

.paragraph-error{
    -fx-background-color: #ffb1ae;
}

.break{
    -fx-background-color: #ff8331;
}